//colors
$color_storm_dust_approx: #666;
$white: white;
$color_mine_shaft_approx: #333;
$color_alto_approx: #d9d9d9;
$black_10: rgba(0, 0, 0, 0.1);
$boulder: #7a7a7a;
$black_50: rgba(0, 0, 0, 0.5);
$color_boston_blue_approx: #428bca;
$color_sail_10_approx: rgba(180, 219, 255, 0.1);
$color_blue_ribbon_12_approx: rgba(22, 102, 241, 0.12);
$color_chateau_green_approx: #3ea1cc;
$black_25: rgba(0, 0, 0, 0.25);
$color_sea_green_approx: #2d83a8;
$color_zircon_approx: #f3f7fe;
$color_blue_charcoal_15_approx: rgba(1, 10, 25, 0.15);
$color_shakespeare_approx: #56add2;
$color_pelorous_approx: #3ea1cc;
$color_astral_approx: #2d83a8;

//fonts
$font_0: FiraSansRegular;
$font_1: FiraSansBold;
$font_2: sans-serif;

//urls
$url_0: url(../fonts/FiraSansRegular/FiraSansRegular.eot);
$url_1: url(../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix);
$url_2: url(../fonts/FiraSansRegular/FiraSansRegular.woff);
$url_3: url(../fonts/FiraSansRegular/FiraSansRegular.ttf);
$url_4: url(../fonts/FiraSansBold/FiraSansBold.eot);
$url_5: url(../fonts/FiraSansBold/FiraSansBold.eot?#iefix);
$url_6: url(../fonts/FiraSansBold/FiraSansBold.woff);
$url_7: url(../fonts/FiraSansBold/FiraSansBold.ttf);

@font-face {
    font-family: $font_0;
    font-weight: normal;
    font-style: normal;
    src: $url_0;
    src: $url_1 format("embedded-opentype"), $url_2 format("woff"), $url_3 format("truetype");
}
@font-face {
    font-family: $font_1;
    font-weight: normal;
    font-style: normal;
    src: $url_4;
    src: $url_5 format("embedded-opentype"), $url_6 format("woff"), $url_7 format("truetype");
}
* {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &:before {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }
    &:after {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }
    &:-moz-placeholder {
        color: $color_storm_dust_approx;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color_storm_dust_approx;
        opacity: 1;
    }
}
*::-webkit-input-placeholder {
    color: $color_storm_dust_approx;
    opacity: 1;
}
*::-moz-placeholder {
    color: $color_storm_dust_approx;
    opacity: 1;
}
body {
    height: 100%;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.3;
    font-family: $font_0, $font_2;
    overflow-x: hidden;
    opacity: 1;
    input {
        &:focus:required:invalid {
            color: $color_storm_dust_approx;
        }
        &:required:valid {
            color: $color_storm_dust_approx;
        }
    }
    textarea {
        &:focus:required:invalid {
            color: $color_storm_dust_approx;
        }
        &:required:valid {
            color: $color_storm_dust_approx;
        }
    }
}
html {
    height: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
h3 {
    font-weight: normal;
}
h4 {
    font-weight: normal;
}
h5 {
    font-weight: normal;
}
.header {
    margin-top: 40px;
    margin-bottom: 30px;
}
.header__title {
    margin: 10px 0 5px;
    font-size: 32px;
}
.header__title-wrap {
    background-color: $white;
    color: $color_mine_shaft_approx;
    border: 2px solid $color_alto_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 2px 2px 2px $black_10;
    padding: 25px;
}
.header__desc {
    margin: 0;
    font-size: 20px;
    color: $boulder;
}
.offers__title {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.offer {
    margin-top: 15px;
    padding: 7px;
    margin-bottom: 20px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 2px 5px 0 $black_50;
    background-color: $white;
    font-size: 16px;
    font-family: $font_0, $font_2;
    text-align: center;
    padding-bottom: 10px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: border .25s ease;
    &:hover {
        border-color: $color_boston_blue_approx;
    }
}
.offer__logo {
    display: inline-block;
    height: 60px;
    width: 100%;
    max-width: 198px;
    margin: 25px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.offer__table {
    width: 100%;
    td {
        padding: 8px;
        background-color: $color_blue_ribbon_12_approx;
        span {
            font-weight: bold;
        }
    }
    div {
        display: block;
        max-width: 140px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: left center;
        padding-left: 33px;
        text-align: left;
    }
    > tbody > tr:nth-child(2n + 1) > td {
        background-color: $color_sail_10_approx;
    }
}
.offer__table-td--left {
    text-align: left;
}
.offer__table-td--right {
    text-align: right;
}
.offer__hit {
    padding: 11px 0 0;
    margin: 0;
    font-size: 15px;
}
.offer__hit-wrap {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}
.offer__button {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.6em 0.8em;
    text-align: center;
    color: $white;
    line-height: 1;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-family: $font_1, $font_2;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: $color_chateau_green_approx;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .25s ease;
    outline: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 2px 5px 0 $black_25;
    &:hover {
        text-decoration: none;
        color: $white;
        background-color: $color_chateau_green_approx;
    }
    &:active {
        text-decoration: none;
        color: $white;
        background-color: $color_sea_green_approx;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 2px 5px 0 $black_25;
    }
    &:focus {
        text-decoration: none;
        color: $white;
        background-color: $color_sea_green_approx;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 2px 5px 0 $black_25;
    }
}
.offer__button-wrap {
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
}
.company {
    background-color: $color_zircon_approx;
    padding: 15px 0;
}
.company__title {
    font-family: $font_1, $font_2;
}
.company__item {
    padding: 20px 10px;
    background-color: $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 10px 40px 0 $color_blue_charcoal_15_approx;
    margin-bottom: 10px;
    p {
        margin: 2px 0;
    }
}
.footer {
    background-color: $color_zircon_approx;
    padding: 20px 0 50px;
}
.footer__nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin-right: 10px;
        a {
            display: inline-block;
            background-color: $color_shakespeare_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            border: 1px solid $color_shakespeare_approx;
            padding: 10px 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .25s ease;
            &:hover {
                background-color: $color_pelorous_approx;
                border-color: $color_pelorous_approx;
                color: $white;
                text-decoration: none;
            }
            &:active {
                background-color: $color_pelorous_approx;
                border-color: $color_astral_approx;
                color: $white;
                text-decoration: none;
            }
            &:focus {
                background-color: $color_pelorous_approx;
                border-color: $color_astral_approx;
                color: $white;
                text-decoration: none;
            }
        }
    }
}
@media only screen and(max-width: 1200px) {
}
@media only screen and(max-width: 992px) {
    .header__title {
        font-size: 24px;
    }
    .header__title-wrap {
        text-align: center;
    }
    .header__desc {
        font-size: 16px;
    }
    .header__logotype {
        display: inline-block;
        max-width: 150px;
        margin-bottom: 20px;
    }
}
@media only screen and(max-width: 768px) {
}
@media only screen and(max-width: 480px) {
    .footer__nav li {
        display: block;
        margin: 10px 0;
    }
}
@media only screen and(max-width: 320px) {
}
@media only screen and(min-width: 320px) {
}
@media only screen and(min-width: 480px) {
}
@media only screen and(min-width: 768px) {
}
@media only screen and(min-width: 992px) {
}
@media only screen and(min-width: 1200px) {
}
